<h1>My Fake Profile Page</h1>
<div class="row">
    <div class="col-md-4">
        <img src="{{user.profile_pic}}" style="border-radius: 50%;width: 200px; height:200px;">
    </div>
    <div class="col-md-8">
        <h3>Full Name: {{user.name.firstName}}  {{user.name.lastName}}</h3>
        <h3>Email: {{user.email}}</h3>
        <h3>Phone: {{user.phone}}</h3>
    </div>
</div>